h1 {
    font-size:1.6em; 
    font-weight:normal;
}

.Container {
    padding: 3rem;
    border: 1rem;
    border-style: double;
    border-color: navy;
    margin-left: 10rem;
    margin-right: 10rem;
}

#bg-color {
    background-color: lightsteelblue;
}

img {
    width: 10rem;
    height: 10rem;
  }
  
img:hover {
    transform: scale(1.2);
  }